<% include header %>
<form action="createHotel" method="post" class="admin__form">
    <label for="hotelName">
        hotel name
        <input type="text" name="hotelName" id="hotelName">
    </label>
    <label for="hotelCountry">
        hotel Country
        <select name="hotelCountry" id="hotelCountry">
            <option selected>Все страны</option>
            <optgroup label="Европа">
                <option value="Германия" >Германия</option>
                <option value="Франция">Франция</option>
                <option value="Великобритания">Великобритания</option>
                <option value="Испания">Испания</option>
            </optgroup>
            <optgroup label="Азия">
                <option value="Турция">Турция</option>
                <option value="ОАЭ">ОАЭ</option>
            </optgroup>
            <optgroup label="Южная Америка">
                <option value="Парагрвай">Парагрвай</option>
            </optgroup>
            <optgroup label="Африка">
                <option value="Египет">Египет</option>
            </optgroup>
        </select>
    </label>
    <label for="hotelPrice">
        hotel Price for once adult person
        <input type="number" name="hotelPrice" id="hotelPrice">
    </label>
    <label for="hotelStar">
        hotel Star
        <input type="number" max="5" min="1">
    </label>
    <textarea name="hotelDescription" id="hotelDescription" cols="30" rows="10">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores
        assumenda eos eveniet explicabo fugiat hic inventore, ipsum laboriosam maiores
        modi natus placeat quam recusandae saepe similique tenetur ullam ut?
    </textarea>

    <label for="hotelFeatures">
        <select name="hotelFeatures" id="hotelFeatures">
            <option value="Топ направления">Лучшее</option>
            <option value="Скидка">Скидка</option>
            <option value="" selected>Empty</option>
        </select>
    </label>

    <label for="hotelImg">
        <input type="file" name="hotelImg" id="hotelImg" accept="image/*">
    </label>
    <input type="submit" value="Create hotel">
</form>
<% include footer %>