<footer>
    <div class="container">
        <div class="footer__logo">
            <img class="footer__logo" src="../img/logo/logo-white.png" width="231" height="65">
        </div>
        <section class="footer__subscribe">
            <h3>Подписывайтесь на нашу россылку</h3>
            <form>
                <input type="email" placeholder="Введите ваш e-mail" required>
                <input type="submit" value="Отправить" class="black__btn">
            </form>
        </section>
        <section class="footer__social">
            <h3>Мы в соц сетях</h3>
            <div class="social__btn-container">
                <a class="social__btn icon i-facebook" href="#" target="_blank"></a>
                <a class="social__btn icon i-twitter" href="#" target="_blank"></a>
                <a class="social__btn icon i-instagram" href="#" target="_blank"></a>
                <a class="social__btn icon i-tripadwisor" href="#" target="_blank"></a>
            </div>
        </section>
        <div class="footer__copyright">
            <span>2018 "Go Away" Travel Company</span></div>
    </div>
</footer>
<script src="../js/main.js"></script>
<script>
    modalWindow('#modalCallback-b', '#modalCallback-w');
    modalWindow('#modalSearch-b', '#modalSearch-w');
</script>
</body>