<% include section/header %>
<section class="container-fluid video">
    <div class="video__container">
        <video autoplay loop muted poster="../img/poster.jpg">
            <source src="../img/bg-short.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video__description container">
        <h1 class="company__name page__name">Go Away</h1>
        <p class="page__description">и найди себя у побережья моря...</p>
    </div>
</section>
<section class="container-fluid common">
    <div class="container">
        <div class="common__description">
            <h2 class="section__description">
                Планируйте свой отдых вместе с нами
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur ea eos nemo rerum.
                Ab alias aperiam dignissimos id iste molestias nostrum, perferendis qui quibusdam reprehenderit sapiente tempore vitae voluptates.
            </p>
        </div>
        <div class="common__content">
            <div class="info-box">
                <div class="info-box__life">
                    <h4>
                        Ваш отдых:
                    </h4>
                    <div class="info-box__item">
                        <div class="info-box__content">Время для загара</div>
                        <div class="info-box__data">8-10ч</div>
                    </div>
                    <div class="info-box__item">
                        <div class="info-box__content">Удовольствия</div>
                        <div class="info-box__data">100%</div>
                    </div>
                    <div class="info-box__item">
                        <div class="info-box__content">Алкоголь</div>
                        <div class="info-box__data">free</div>
                    </div>
                </div>
                <div class="info-box__time">
                    <h4>Как у людей</h4>
                    <div class="info-box__item">
                        <div class="info-box__content">Температура воды</div>
                        <div class="info-box__data">+25-30</div>
                    </div>
                    <div class="info-box__item">
                        <div class="info-box__content">Средняя стоимость</div>
                        <div class="info-box__data">300$</div>
                    </div>
                    <div class="info-box__item">
                        <div class="info-box__content">Средняя длительность</div>
                        <div class="info-box__data">7 дней</div>
                    </div>
                </div>
            </div>
            <div class="common__tripadvisor">
                <div class="common__tripadvisor-img">
                    <img src="../img/icons/tripadvisor.png" alt="tripadvisor" width="300" height="210">
                </div>
                <p class="common__tripadvisor-caption">
                    Более <b>1000</b> положительных отзывов на сервисе "TripAdvisor"
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid diving">
    <div class="container">
        <div class="diving__content">
            <h2 class="section__description">С офисного стула прямо в море</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur consequatur cum cupiditate
                delectus doloremque ducimus eos id in itaque laborum magni molestiae officia, optio pariatur quis, quo
                temporibus ut?</p>
            <p>Aliquam aperiam assumenda cum dolor dolorem eos eveniet fuga inventore minus molestiae neque, numquam
                officiis perspiciatis quisquam sapiente sed similique sit ullam voluptates voluptatum! Dicta molestiae porro
                qui suscipit temporibus?</p>
        </div>
        <div class="diving__facts">
            <div class="info-box">
                <div class="info-box__life">
                    <h4>
                        Погружение
                    </h4>
                    <div class="info-box__item">
                        <div class="info-box__content">Екстрим</div>
                        <div class="info-box__data">100%</div>
                    </div>
                    <div class="info-box__item">
                        <div class="info-box__content">Наслаждение</div>
                        <div class="info-box__data">100%</div>
                    </div>
                    <div class="info-box__item">
                        <div class="info-box__content">Вероятность того, что не понравиться</div>
                        <div class="info-box__data">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include section/footer %>