@media screen and (min-width:901px) {
    .navbar {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .burger-label {
        display: none;
    }
    /*.sub-menu:hover ul {*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-around;*/

        /*background-color: rgba(0,0,0, 0.7);*/
        /*width: 300%;*/
    /*}*/
    .sub-menu-show-labtop {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        background-color: rgba(0,0,0, 0.7);
        width: 300%;
    }
}
@media screen and (max-width: 1000px){
    .video__description {
        padding: 7% 0;
    }
    /*ticket*/
    .ticket {
        margin: 0;
        padding: 0 5%;
    }
    .ticket:before,
    .ticket:after {
        display: none;
    }
    .ticket__top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .ticket__top img {
        margin-bottom: 15px;
    }

}
@media screen and (max-width: 1100px){
    .tour-short .tour {
        flex-basis: 49%;
    }
}
@media screen and (max-width:900px){
    .callback__btn {
        padding: 10px;
        font-size: 12px;
    }
    .nav {
        align-items: left;
    }
    /*burger menu*/
    .navbar {
        position: relative;
    }
    .navbar .logo {
        flex-basis: 100%;
    }
    .burger-label {
        display: block;

        position: absolute;
        top: 10px;
        right: 10px;

        background-color: #C7911B;
        border-radius: 5px;
        padding: 7px;
        text-align: center;
    }
    .burger-label__item {
        display: block;
        width: 40px;
        height: 2px;
        background-color: white;

        margin-bottom: 7px;
    }
    .burger-label:hover {
        cursor: pointer;
    }
    .burger-label__item:last-child {
        margin-bottom: 0;
    }
    #burgerMenu:checked + .burger-label {
        padding: 15px;
        padding-left: 5px;
    }
    #burgerMenu:checked + .burger-label .burger-label__item:first-child  {
        transform: rotate(-45deg) translateY(6px);
        transform-origin: center;
        transition: 1s all;

        margin-bottom: 0;
    }
    #burgerMenu:checked + .burger-label .burger-label__item:nth-child(2)  {
        background-color: #C7911B;
        transform: scale(0);
        transition: 0.5s all;
    }
    #burgerMenu:checked + .burger-label .burger-label__item:last-child  {
        margin-bottom: 0;
        transform-origin: center;
        transform: rotate(45deg) translateY(-9px);
        transition: 1s all;
    }
    #burgerMenu:checked ~ .nav{
        display: flex;
        flex-direction: column;
    }
    .nav {
        flex-basis: auto;
        display: none;
    }
    .nav li {
        transition: 0.5s;
        font-size: 16px;
    }
    .nav li:hover,
    .nav li:focus {
        transform: translateX(20px);
        transition: 0.5s;
    }
    .sub-menu-show {
        display: block;
        position: static;
        font-size: 14px;
    }
    /******VIDEO********/
    .video__description {
        padding: 7% 0;
    }
    .company__name {
        line-height: 2.2em;

        font-size: 100px;
    }

    /**Common*/
    .common__description {
        padding-left: 20px;
        padding-right: 20px;
    }
    .common__content {
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }
    .info-box {
        flex-basis: 60%;
        flex-direction: column;
        align-items: stretch;
    }
    .info-box__life {
        margin-right: 0;
        margin-bottom: 20px;
    }
    /**Diving*/
    .diving__content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .diving .container {
        flex-wrap: wrap;
    }
    /***FOOTER***/
    .footer__subscribe {
        flex-wrap: wrap;
    }
    .footer__subscribe h3 {
        text-align: center;
    }
    /*Ticket*/
    .ticket__content {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    .ticket__img {
        width: auto;
    }
}
/*Перестройка карточек товара*/
@media screen and (max-width: 840px){
    .tours__container.container {
        padding: 10px 0;
    }
    .tours__filter {
        flex-direction: column-reverse;
        align-items: initial;
    }
    .tours__sort {
        justify-content: flex-start;
        margin-bottom: 15px;
    }
    .tour img {
        width: 102%;
        height: auto;
    }
}
@media screen and (max-width:800px){
    .tour-short {
        flex-direction: column;
    }
}
@media screen and (max-width:760px) {
    .video {
        background-image: url("../img/poster.jpg");
        background-position: center;
        background-size: cover;
    }
    .video__container {
        display: none;
    }
    .info-box {
        flex-basis: 75%;
    }
    .common {
        padding-bottom: 0;
    }
    .diving__content {
        flex-basis: 95%;
        padding-top: 200px;
    }
    .filter__form .callback__btn {
        width: 20%;
    }
}
@media screen and (max-width: 640px) {
    .tours__sort {
        display: none;
    }
}
@media screen and (max-width: 530px) {
    .filter__form .callback__btn {
        width: 30%;
    }
    .ticket__btn {
        flex-direction: column;
        align-items: stretch;
    }
    .ticket__btn-item {
        margin-bottom: 20px;
    }
    .ticket {
        padding: 15px 0;
    }
    .ticket__container {
        border: none;
    }
}
@media screen and (max-width:400px) {
    .company__name {
        line-height: 3.2em;
        margin-top: 1em;
        font-size: 70px;
    }
    .footer__subscribe form {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer__subscribe form input {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .ticket__container {
        padding: 5px 10px;
    }
}