<!--MODAL CALLBACK WINDOW BEGIN-->
<div class="modal container-fluid " id="modalCallback-w">
    <div class="modal__container container">
        <div class="modal__title">
            <b>
                Заполните пожалуйста все поля заявки, и наш менеджер
                обезательно с вами свяжеться!
            </b>
        </div>
        <form action="#" method="post" class="cost__form">
            <label for="customerName" class="cost__label">
                Как к вам можно обращаться?
                <input type="text" class="cost__input" name="customerName" id="customerName" placeholder="Имя"
                       pattern="^[A-Za-zА-Яа-яЁё]+$" required>
                <span></span>
            </label>
            <label for="customerNumber" class="cost__label">
                Ваш номер телефона
                <input type="tel" class="cost__input" id="customerNumber" name="customerNumber"
                       placeholder="+38000000000" minlength="10" maxlength="13" required>
                <span></span>
            </label>
            <label for="customerMessage" class="cost__label">
                <textarea name="customerMessage" id="customerMessage" class="cost__textarea" cols="30" rows="10"
                          placeholder="Здесь можете написать свой коментарий"></textarea>
            </label>
            <button type="submit" class="btn-just cost__btn ticket__btn-item" title="Заказать звонок" >
                <span class="btn__text">Заказать звонок</span>
                <img src="../img/icons/phone-call.png" alt="phone call">
            </button>
        </form>
        <button class="modal-close">
            <img src="../img/icons/multiply.png" alt="cross">
        </button>
    </div>
</div>
<!--MODAL CALLBACK WINDOW END  -->